/* password eye icon */
.icon-eye {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	color: #b3b3b3;
	cursor: pointer;
}

/* alert display */
#alert_hide {
	display: none;
}
