@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: #fcfcfc;
	font-family: "Montserrat", sans-serif;
	background: #eee;
}

/* [All Settings] 
=======================================================> */
.flex-between-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
ul.custom {
	display: flex;
	margin-bottom: 0;
}
ul.custom li {
	margin-right: 15px;
	list-style: none;
}
a:hover {
	text-decoration: none;
}
button.close:focus {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
.btn:focus {
	box-shadow: none !important;
	outline: none !important;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
	padding-right: 7px;
	padding-left: 7px;
}
ul.custom li:last-child {
	margin-right: 0;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.site-button {
	background-color: var(--main-color);
	color: white;
}
.site-button {
	border: 1px solid var(--main-color);
}
.nav-tabs .nav-link,
.nav-pills .nav-link,
.btn-link {
	color: var(--main-color);
}
/* password eye icon */
.icon-eye {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	color: #b3b3b3;
	cursor: pointer;
}
/* alert display */
.alert_hide {
	display: none;
}

/* [HEADER section] 
=======================================================> */
/* navbar container */
.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}
/* navbar brand */
.navbar-container .brand {
	width: 150px;
}
.navbar-container .brand img {
	width: 100%;
}
/* navbar button */
.navbar-container .button-container {
	display: flex;
	align-items: center;
}
.navbar-container .button-container a {
	margin-right: 7px;
}
.navbar-container .button-container a:last-child {
	margin-right: 0;
}
.navbar-container .button-container .heart,
.search-button {
	font-size: 28px;
}
.navbar-container .button-container .heart {
	color: red;
}
.add-button {
	text-transform: capitalize;
}
.menu-bars {
	font-size: 23px;
	color: var(--main-color);
	display: none;
}
/* search container */
.search-container form {
	display: flex;
}
.search-form {
	position: relative;
	margin-right: 5px;
	width: 100%;
}
.search-form input {
	height: 40px;
	padding-left: 40px;
	font-size: 16px;
	margin-right: 5px;
}
.search-form i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 10px;
	font-size: 19px;
	color: #eee;
}
/* category section */
.category-container {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}
.category-container .cat-item {
	margin: 10px 13px 10px 0;
	min-width: 94px;
	text-align: center;
}
.category-container .cat-item:last-child {
	margin-right: 0;
}
.category-container .cat-item a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	transition: 0.3s;
}
.category-container .cat-item img {
	width: 66px;
	height: 66px;
	border-radius: 50%;
	text-align: center;
	line-height: 66px;
	font-size: 33px;
	color: #fff;
	display: block;
	margin: 0 auto;
	transition: 0.5s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.category-container .cat-item:hover a {
	color: var(--main-color);
}

/* [ITEM section] 
=======================================================> */
/* item */
.item-container,
.item-bottom-content {
	width: 100%;
	height: 242px;
	border: 1px solid #ccc;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	margin-bottom: 60px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.item-container:hover,
.item-bottom-content:hover {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.item-container a {
	text-decoration: none;
}
.item-image {
	width: 100%;
	height: 150px;
	position: relative;
	font-size: 18px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
.item-image img {
	width: 100%;
	height: 100%;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	object-fit: cover;
}
.item-image .price {
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: #fff;
	font-size: 17px;
	background: var(--main-color);
	padding: 4px 7px;
}
.item-image .item-status {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #000;
	display: flex;
	margin-bottom: 0;
}
.item-image .item-status li {
	margin-right: 7px;
	list-style: none;
	width: 24px;
	height: 24px;
	line-height: 28px;
	background: #fff;
	text-align: center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	font-size: 14px;
	background: var(--main-color);
	color: #fff;
}
.item-image .item-status li:last-child {
	margin-right: 0;
}
.item-image .item-love {
	position: absolute;
	right: 7px;
	top: 7px;
	padding: 4px 5px;
	width: 40px;
	height: 35px;
	cursor: pointer;
}
.item-love img {
	width: 100%;
}
.item-content,
.item-bottom-content {
	width: 100%;
	height: 89px;
	position: relative;
	background: #fff;
	padding: 10px;
	border-top: 1px solid #eee;
	border-radius: 7px;
}
.item-bottom-content {
	height: 40px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-content h2 {
	font-size: 16px;
}
.item-content h2 a {
	color: #000;
}
.item-content p {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #555;
	margin-bottom: 0;
}

/* [FOOTER section] 
=======================================================> */
footer {
	width: 100%;
	height: auto;
	margin-top: 60px;
	background: #464646;
	color: #93a6a6;
}
/* footer content */
.footer-content {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 25px 20px;
}
.footer-content h1 {
	font-size: 2.8rem;
	margin-bottom: 1rem;
}
.footer-content p {
	max-width: 500px;
}
.footer-content ul {
	margin-bottom: 1rem !important;
}
.footer-content ul li {
	width: 40px;
	height: 40px;
	background: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	cursor: pointer;
}
.footer-content ul li:hover {
	background-color: var(--main-color);
}
.footer-content ul li a i {
	color: #93a6a6;
}
.footer-content ul li:hover a i {
	color: #fff;
}
/* footer bottom */
.footer-bottom {
	width: 100%;
	background: #3b3b3b;
	padding: 10px 0;
}
.footer-bottom ul li a {
	color: #93a6a6;
	transition: 0.5s;
}
.footer-bottom ul li a:hover {
	color: var(--main-color);
}
